APP_ENV=dev
APP_SECRET=change_me_in_production

DB_NAME=ketsia_shop
DB_USER=ketsia_user
DB_PASSWORD=ketsia_password
DB_ROOT_PASSWORD=root_password
DB_PORT=3307

JWT_PASSPHRASE=change_me_to_a_secure_passphrase
CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$

API_PORT=8000
FRONTEND_PORT=5173
PMA_PORT=8080
VITE_API_URL=http://localhost:8000
